<mat-toolbar color="primary" class="toolbar">
  <a routerLink="/home" (click)="showMenu = false" class="logo-link">
    <mat-icon>shopping_cart</mat-icon>
    <strong>Toxic Nature</strong>
  </a>

  <span class="spacer"></span>

  <!-- Botón hamburguesa solo en móvil -->
  <button mat-icon-button class="menu-button" (click)="showMenu = !showMenu">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Menú de navegación -->
  <div class="nav-links" [class.open]="showMenu">
    <a mat-button routerLink="/home" (click)="showMenu = false">
      <mat-icon>home</mat-icon> Inicio
    </a>
    <a mat-button routerLink="/productos" (click)="showMenu = false">
      <mat-icon>category</mat-icon> Productos
    </a>

    <ng-container *ngIf="!isLoading; else loading">
      <ng-container *ngIf="userNickname; else guestLinks">
        <a mat-button routerLink="/account" (click)="showMenu = false">
          <mat-icon>person</mat-icon> {{ userNickname }}
        </a>
        <a mat-button routerLink="/car" (click)="showMenu = false">
          🛒 Carrito
          <span *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
        </a>
        <button mat-button (click)="logout(); showMenu = false">
          <mat-icon>logout</mat-icon> Salir
        </button>
        <a *ngIf="authService.hasRole('ADMIN')" mat-button routerLink="/a-shop-ctrl-984-panel" (click)="showMenu = false">
          <mat-icon>admin_panel_settings</mat-icon> Admin
        </a>
      </ng-container>
    </ng-container>

    <ng-template #guestLinks>
      <a mat-button routerLink="/login" (click)="showMenu = false">
        <mat-icon>login</mat-icon> Iniciar sesión
      </a>
      <a mat-button routerLink="/register" (click)="showMenu = false">
        <mat-icon>person_add</mat-icon> Registrarse
      </a>
    </ng-template>

    <ng-template #loading>
      <mat-spinner diameter="30" color="accent"></mat-spinner>
    </ng-template>
  </div>
</mat-toolbar>
