.toolbar {
  display: flex;
  align-items: center;
  background-color: #1976d2; /* o usa primary desde Angular Material */
  color: white;
}

.logo-link {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu-button {
  background: transparent; /* o #1976d2 si deseas que sea uniforme */
  color: white;
  z-index: 1001;
}

.spacer {
  flex: 1 1 auto;
}

.nav-links {
  position: absolute;
  top: 49px;
  left: 0;
  width: 100%;
  background: #1976d2;
  display: none;
  flex-direction: column;
  padding: 1rem 0;
  z-index: 1000;
}

.nav-links a,
.nav-links button {
  color: white;
  justify-content: flex-start;
  text-align: left;
  padding: 1rem 2rem;
  width: 100%;
}

.nav-links.open {
  display: flex;
}

@media (min-width: 769px) {
  .menu-button {
    display: none;
  }

  .nav-links {
    display: flex !important;
    position: static;
    flex-direction: row;
    background: transparent;
    padding: 0;

    a, button {
      padding: 0 1rem;
      width: auto;
    }
  }
}
