<div class="product-detail-container" *ngIf="product">
  <div class="product-images">
    <img class="main-image" [src]="mainImage" [alt]="product.name" />

    <div class="thumbnail-list">
      <img *ngIf="product.image" [src]="product.image" (click)="product.image && setMainImage(product.image)" alt="Miniatura" />
      <img *ngIf="product.image2" [src]="product.image2" (click)="setMainImage(product.image2)" alt="Miniatura" />
      <img *ngIf="product.image3" [src]="product.image3" (click)="setMainImage(product.image3)" alt="Miniatura" />
    </div>
  </div>

  <div class="product-info">
    <h2>{{ product.name }}</h2>

   <!-- <div class="ratings">
      <span class="stars">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
        <mat-icon>star_border</mat-icon>
      </span>
      <span>1,231 calificaciones</span>
    </div>-->

    <p class="precio" [ngClass]="{ 'con-descuento': product.hasDiscount, 'sin-descuento': !product.hasDiscount }">
      <ng-container *ngIf="product.hasDiscount; else precioNormal">
        <span class="precio-final">${{ product.finalPrice }}</span>
        <span class="precio-original">${{ product.originalPrice }}</span>
        <span class="badge-descuento">-{{ product.discountPercentage }}%</span>
      </ng-container>
      <ng-template #precioNormal>
        <span class="precio-final">${{ product.originalPrice || product.price }}</span>
      </ng-template>
    </p>

    <mat-form-field *ngIf="product?.category?.name === 'Ropa'" appearance="outline" class="size-select">
      <mat-label>Talla</mat-label>
      <mat-select [(value)]="selectedSize">
        <mat-option *ngFor="let size of product?.sizes" [value]="size">
          {{ size }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p class="description">{{ product.description }}</p>

    <p class="stock-status" [ngClass]="{ 'agotado': product.stock === 0, 'disponible': product.stock > 0 }">
      {{ product.stock === 0 ? 'Agotado' : 'Disponible: ' + product.stock }}
    </p>

    <div class="buy-buttons">
      <button mat-raised-button color="primary"
              [disabled]="product.stock === 0"
              (click)="addToCart()">
        {{ product.stock === 0 ? 'Sin stock' : 'Agregar al carrito' }}
      </button>

      <button mat-stroked-button color="accent" routerLink="/productos">
        Volver a productos
      </button>
    </div>
  </div>
</div>
