<div class="admin-layout">
  <!-- Sidebar -->
  <aside class="admin-sidebar">
    <h3 class="logo">Admin</h3>
    <nav class="sidebar-menu">
      <a mat-button routerLink="productos">📦 Crear Productos</a>
      <a mat-button routerLink="pedidos">📋 Pedidos</a>
      <a mat-button routerLink="categoria/upload">🗂 Categorías</a>
      <a mat-button routerLink="/productos">🛍 Ver Tienda</a>
    </nav>
    <div class="admin-user">
      👤 {{ adminName }}
    </div>
  </aside>

  <!-- Contenido -->
  <main class="admin-main">
    <router-outlet></router-outlet>
  </main>
</div>
