.catalog-layout {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  .sidebar {
    h3 {
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        cursor: pointer;
        padding: 0.75rem 1rem;
        margin-bottom: 0.5rem;
        border-radius: 8px;
        background-color: #f1f1f1;
        transition: background 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: #e0e0e0;
        }

        &.active {
          background-color: #1976d2;
          color: #020202;

          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }



  .catalog-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
      text-align: center;
      font-size: 2rem;
      margin: 1rem 0 2rem;
      font-weight: 800;
      color: #333;
    }

    .product-grid {
      width: 100%;
      max-width: 1300px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
    }

    .product-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      background: linear-gradient(to bottom right, #ffffff, #f9f9f9);
      border-radius: 16px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
      transition: transform 0.25s ease, box-shadow 0.25s ease;
      overflow: hidden;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
      }

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
      }

      mat-card-content {
        padding: 1rem;

        h3 {
          font-size: 1.2rem;
          font-weight: 700;
          margin: 0.5rem 0;
        }

        .description {
          font-size: 0.95rem;
          color: #555;
          margin-bottom: 0.5rem;
        }

        .price {
          font-weight: bold;
          color: #2e7d32;
          font-size: 1rem;
          margin-top: auto;
        }
      }

      mat-card-actions {
        display: flex;
        justify-content: center;
        padding: 1rem;

        button {
          width: 100%;
          background-color: #2196f3;
          color: white;
          font-weight: 500;
          border-radius: 30px;
          transition: background 0.3s;

          &:hover {
            background-color: #1976d2;
          }
        }
      }
    }
  }
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border: 1px solid #eee;

  input, select {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-width: 180px;
    background-color: #fff;
    transition: border-color 0.2s ease;

    &:focus {
      outline: none;
      border-color: #4caf50;
    }
  }

  select {
    cursor: pointer;
  }

  button {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 500;
    transition: background 0.2s ease;

    &:hover {
      background-color: #ffffff;
      color: #1976d2;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  button {
    min-width: 100px;
    font-weight: 500;
    border-radius: 6px;
    transition: background 0.2s;

    &:hover {
      background-color: #eee;
    }
  }
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;

  .loading-text {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #555;
  }
}

////

.category-bar {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
  margin-bottom: 20px;

  button {
    white-space: nowrap;
    flex-shrink: 0;
    text-transform: none;
  }

  .active {
    background-color: #1976d2 !important;
    color: white !important;
    border-color: #1976d2 !important;
  }

  /* Opcional: ocultar scrollbar pero permitir scroll */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  // IE/Edge
  scrollbar-width: none;     // Firefox
}


.stock {
  font-weight: bold;
  margin: 1rem;
  &.disponible {
    color: green;
  }
  &.agotado {
    color: red;
  }
}


.original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 0.4rem;
}

.discount-price {
  color: #e53935;
  font-weight: bold;
}

.normal-price {
  font-weight: bold;
}

.precio-final {
  font-weight: bold;
  color: #d32f2f;
}

.precio-original {
  text-decoration: line-through;
  color: #757575;
  font-size: 0.9rem;
  margin-left: 4px;
}

.badge-descuento {
  background-color: #d32f2f;
  color: white;
  padding: 2px 6px;
  font-size: 0.75rem;
  border-radius: 4px;
  margin-left: 6px;
}
