<div class="account-layout">
<!--  <aside class="account-sidebar">-->
<!--    <div class="sidebar-header">-->
<!--      <h3 class="username">Nick: {{ user?.nickname }}</h3>-->
<!--    </div>-->

<!--    <nav class="sidebar-menu">-->
<!--      <button mat-button (click)="section = 'profile'" class="sidebar-button">-->
<!--        <mat-icon>person</mat-icon>-->
<!--        <span>Perfil</span>-->
<!--      </button>-->
<!--     &lt;!&ndash; <button mat-button (click)="section = 'orders'" class="sidebar-button">-->
<!--        <mat-icon>receipt</mat-icon>-->
<!--        <span>Mis compras</span>-->
<!--      </button>-->
<!--      <button mat-button (click)="section = 'history'" class="sidebar-button">-->
<!--        <mat-icon>history</mat-icon>-->
<!--        <span>Historial</span>-->
<!--      </button>&ndash;&gt;-->
<!--    </nav>-->
<!--  </aside>-->

  <section class="account-content">
    <ng-container [ngSwitch]="section">
      <div *ngSwitchCase="'profile'">
        <div *ngIf="user" class="profile-card" style="color: white;">
          <h2 class="section-title">Información del Usuario</h2>
          <div class="info-section">
            <div class="info-item">
              <label>Nombre:</label>
              <span>{{ user.name }}</span>
            </div>
            <div class="info-item">
              <label>Nickname:</label>
              <span>{{ user.nickname }}</span>
            </div>
            <div class="info-item">
              <label>Email:</label>
              <span>{{ user.email }}</span>
            </div>
            <div class="info-item">
              <label>Teléfono:</label>
              <span>{{ user.phone }}</span>
            </div>
            <div class="info-item">
              <label>Dirección:</label>
              <span>{{ user.address }}</span>
            </div>
            <div class="info-item">
              <label>Código Postal:</label>
              <span>{{ user.postalCode }}</span>
            </div>
            <div class="info-item">
              <label>Estado:</label>
              <span>{{ user.state }}</span>
            </div>
            <div class="info-item">
              <label>Municipio:</label>
              <span>{{ user.municipality }}</span>
            </div>
            <div class="info-item full-width">
              <label>Descripción de la casa:</label>
              <span>{{ user.houseDescription }}</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'orders'">
        test
      </div>
      <div *ngSwitchCase="'history'">
      </div>
    </ng-container>
  </section>
</div>
